<div layout="column">
  <md-toolbar flex class="md-table-toolbar md-default clearContainer">
    <div class="md-toolbar-tools">
      <span>Administra tus ramas</span>
    </div>
  </md-toolbar>
  <md-button class="md-accent md-raised" ng-click="branchesCtrl.newBranch($event)">
    <span><md-icon flex class="material-icons">add_circle</md-icon>  Crear una nueva rama</span>
  </md-button>
  <md-button ng-hide="branchesCtrl.selected.length === 0" class="md-warn md-raised" ng-click="branchesCtrl.deleteBranches()">
    <span><md-icon flex class="material-icons">delete</md-icon>  Borrar ramas</span>
  </md-button>
  <md-table-container flex>
    <table md-table md-row-select multiple ng-model="branchesCtrl.selected">
      <thead md-head md-order="branchesCtrl.query.order">
      <tr md-row>
        <th md-column md-order-by="title"><span>Title</span></th>
        <th md-column md-order-by="branch_type">Tipo de Rama</th>
        <!--<th md-column md-order-by="property_type">Tipo de propiedad</th>-->
        <th md-column md-order-by="created_at">Creado en</th>
        <!--<th md-column md-order-by="title">Nombre de la propiedad</th>
        <th md-column md-order-by="sender_name">Usuario Emisor</th>
        <th md-column md-order-by="receiver_name">Usuario O Grupo receptor</th>-->
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="branch" md-select-id="branch.id" md-auto-select ng-repeat="branch in branchesCtrl.branches | orderBy: branchesCtrl.query.order | limitTo: branchesCtrl.query.limit: (branchesCtrl.query.page - 1) * branchesCtrl.query.limit">
        <td md-cell ng-click="branchesCtrl.modifyField($event, 1, branch)">{{branch.title}}</td>
        <td md-cell>{{branch.branch_type}}</td>
        <td md-cell>{{branch.created_at}}</td>
        <!--<td md-cell>{{branch.title}}</td>
        <td md-cell>{{branch.sender_name}}</td>
        <td md-cell>{{branch.receiver_name}}</td>-->
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination
    flex
    md-limit="branchesCtrl.query.limit"
    md-page="branchesCtrl.query.page"
    md-limit-options="[2, 4, 6]"
    md-total="{{branchesCtrl.branches.length}}"
    md-page-select
  >
  </md-table-pagination>
</div>
