<div layout="column" layout-align="center center">
  <div flex class="text-center">
    <h2 flex>¡Bienvenido, {{dashCtrl.userName}}!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero justo. Nunc molestie est ipsum, eget luctus nisl consectetur quis.</p>
    <p>Nulla at consectetur ligula, quis venenatis nisi. Suspendisse non ante vitae ipsum condimentum pellentesque. Sed posuere finibus justo </p>
    <p>vitae dapibus. Nulla facilisi. Sed lorem turpis, vehicula eu nibh nec, rhoncus egestas enim. Phasellus mollis, mi dictum fermentum faucibus, </p>
  </div>
  <div flex layout>
    <img flex width="500" height="350" ng-src="../../images/chroma_plaza.jpg">
    <img flex flex-offset="5" width="500" height="350" ng-src="../../images/chroma_plaza_2.JPG">
  </div>
</div>
