<div class="md-menu-demo" ng-cloak>
  <div class="menu-demo-container" layout-align="center center" layout="column">
    <h2 class="md-title">Simple dropdown menu</h2>
    <p>Applying the <code>md-menu-origin</code> and <code>md-menu-align-target</code> attributes ensure that the menu elements align.
      Note: If you select the Redial menu option, then a modal dialog will zoom out of the phone icon button.</p>
    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="docsCtrl.openMenu($mdOpenMenu, $event)">
        <i class="material-icons">open_in_new</i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="docsCtrl.redial($event)">
            <i class="material-icons">open_in_new</i>
            Redial
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button disabled="disabled" ng-click="docsCtrl.checkVoicemail()">
            Check voicemail
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="docsCtrl.toggleNotifications()">
            {{docsCtrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</div>
