<md-content layout>
  <div flex layout="column">
    <md-list flex>
      <md-subheader >Documentos del grupo</md-subheader>
      <md-list-item layout layout-align="spaces-between center" ng-repeat="document in gatheringCtrl.docs" class="noright">
        <img flex alt="{{ document.fileName }}" ng-src="{{ document.img }}" class="md-avatar" />
        <p flex>{{ document.fileName }}</p>
        <md-checkbox flex class="md-secondary" ng-model="person.selected"></md-checkbox>
      </md-list-item>
    </md-list>
    <md-button class="md-accent md-raised">
      Descargar
      <md-icon flex class="material-icons">file_download</md-icon>
    </md-button>
  </div>
  <div flex layout="column">
    <md-list flex>
      <md-subheader>Personas en el grupo</md-subheader>
      <md-list-item layout layout-align="spaces-between center" ng-repeat="person in gatheringCtrl.people" class="noright">
        <img flex alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
        <p flex>{{person.name}}</p>
      </md-list-item>
    </md-list>
  </div>
</md-content>
