<div layout="column">
  <md-toolbar flex class="md-table-toolbar md-default clearContainer">
    <div class="md-toolbar-tools">
      <span>Administra las notificaciones</span>
    </div>
  </md-toolbar>
  <md-button class="md-accent md-raised" ng-click="notificationsCtrl.newNotification($event)">
    <span><md-icon flex class="material-icons">add_circle</md-icon>  Crear una nueva notificación</span>
  </md-button>
  <md-button ng-hide="notificationsCtrl.selected.length === 0" class="md-warn md-raised" ng-click="notificationsCtrl.deleteNotifications()">
    <span><md-icon flex class="material-icons">delete</md-icon>  Borrar notificaciones</span>
  </md-button>
  <md-table-container flex>
    <table md-table md-row-select multiple ng-model="notificationsCtrl.selected">
      <thead md-head md-order="notificationsCtrl.query.order">
      <tr md-row>
        <th md-column md-order-by="title">Título</th>
        <th md-column md-order-by="content">Contenido</th>
        <th md-column md-order-by="receiver_user">Para</th>
        <th md-column md-order-by="created_at">Fecha</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="notification" md-select-id="notification.id" md-auto-select ng-repeat="notification in notificationsCtrl.notifications | orderBy: notificationsCtrl.query.order | limitTo: notificationsCtrl.query.limit: (notificationsCtrl.query.page - 1) * notificationsCtrl.query.limit">
        <td md-cell ng-click="notificationsCtrl.modifyField($event, 1, notification.notification)">{{notification.notification.title}}</td>
        <td md-cell ng-click="notificationsCtrl.modifyField($event, 2, notification.notification)">{{notification.notification.content}}</td>
        <td md-cell>{{notification.user.user}}</td>
        <td md-cell ng-bind="notification.created_at | date:'MM/dd/yyyy'"></td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination
    flex
    md-limit="notificationsCtrl.query.limit"
    md-page="notificationsCtrl.query.page"
    md-limit-options="[2, 4, 6]"
    md-total="{{notificationsCtrl.notifications.length}}"
    md-page-select
  >
  </md-table-pagination>
</div>
