<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
    r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
  }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<footer>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use some stuff here</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Some links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link1 </a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link3 </a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link4 </a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <span class="small material-icons" >Made by Red Panda Technologies.
        <a class="grey-text text-lighten-4 right" href="#!">Some stuff </a>
      </span>
    </div>
  </div>
</footer>
