<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Add your site or application content here -->
<md-nav-bar md-selected-nav-item="currentNavItem" layout layout-align="center center" aria-label="navBar">
  <md-icon class="material-icons" ng-click="headerCtrl.toggleLeft()">account_circle</md-icon>
  <md-nav-item md-nav-sref="root.home" name="home">Inicio</md-nav-item>
  <md-nav-item md-nav-sref="root.bills" name="bills">Facturas</md-nav-item>
  <md-nav-item md-nav-sref="root.voucher" name="vouchers">Comprobantes</md-nav-item>
  <md-nav-item md-nav-sref="root.documents" name="documents">Documentos</md-nav-item>
  <md-nav-item ng-hide="headerCtrl.isGuest()" md-nav-sref="root.reports" name="reports">Reportes</md-nav-item>
  <md-nav-item ng-hide="headerCtrl.isGuest()" md-nav-sref="root.gatherings" name="gatherings">Asambleas</md-nav-item>
</md-nav-bar>

<section layout="row" flex>
  <md-sidenav class="md-sidenav-left" md-component-id="userProfile" md-disable-backdrop md-whiteframe="4">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Mi Perfil</h1>
    </md-toolbar>
    <md-content layout="column">
      <md-list layout ng-repeat="info in headerCtrl.userInfo">
        <div flex>
          <div>{{info.title}} : {{info.value}}</div>
        </div>
      </md-list>
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Soporte</h1>
      </md-toolbar>
      <md-button class="md-accent">Contactar a Chroma</md-button>
      <md-toolbar ng-show="headerCtrl.isAdmin()" class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Administración</h1>
      </md-toolbar>
      <md-list-item ng-show="headerCtrl.isAdmin()" ng-repeat="link in headerCtrl.links">
        <a class="md-accent md-raised" ui-sref="{{link.linkTo}}">{{link.label}}</a>
        <md-divider></md-divider>
      </md-list-item>
      <md-button ng-click="headerCtrl.close()" class="md-accent">
        Cerrar
      </md-button>
    </md-content>
  </md-sidenav>
</section>
