<md-content class="footer" layout>
<div flex="80">
    <a href="https://www.facebook.com/ChromaSanPedro/" target="_blank">
      <img width="45" height="45" ng-src="../../images/facebook.png">
    </a>
    <a href="https://www.instagram.com/chromasanpedro" target="_blank">
      <img width="45" height="45" ng-src="../../images/instagram.png">
    </a>
  </div>
<div flex="20">Derechos Reservados Ache Desarrollos 2017.</div>
</md-content>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
    r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
  }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>
