<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Add your site or application content here -->
<md-nav-bar md-selected-nav-item="currentNavItem" layout="row" layout-align="center end">
  <md-nav-item md-nav-sref="home" name="home">iRentals</md-nav-item>
  <md-nav-item md-nav-sref="aboutUs" name="aboutUs">About us</md-nav-item>
  <md-nav-item md-nav-sref="contactUs" name="contactUs">Contact</md-nav-item>
  <md-button class="md-accent md-raised" ng-click="header.showTabDialog()">Sign in</md-button>
</md-nav-bar>
