<md-content layout="column" layout-align="center center">
  <img class="center" width="500" height="350" ng-src="../../images/chroma_logo.png">
  <div class="text-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero justo. Nunc molestie est ipsum, eget luctus nisl consectetur quis.</p>
    <p>Nulla at consectetur ligula, quis venenatis nisi. Suspendisse non ante vitae ipsum condimentum pellentesque. Sed posuere finibus justo </p>
    <p>vitae dapibus. Nulla facilisi. Sed lorem turpis, vehicula eu nibh nec, rhoncus egestas enim. Phasellus mollis, mi dictum fermentum faucibus, </p>
  </div>
</md-content>
