<md-dialog aria-label="Mango (Fruit)">
  <form name="groupForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nuevo Grupo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="newGroupCtrl.cancel()" aria-label="closeButton">
          <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Información General del grupo">
          <md-content class="md-padding">
            <h1 class="md-display-2"><strong>Paso uno</strong></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.</p>
            <md-input-container flex>
              <label>Nombre del grupo:</label>
              <md-icon class="material-icons">account_box</md-icon>
              <input name="groupName" type="text" required>
              <div ng-messages="groupForm.groupName.$error">
                <div ng-message="required">Necesitamos el nombre del grupo!</div>
              </div>
            </md-input-container>
            <br>
            <md-input-container flex>
              <label>URL:</label>
              <md-icon class="material-icons">lock</md-icon>
              <input name="groupUrl" type="text" required>
              <div ng-messages="groupForm.groupUrl.$error">
                <div ng-message="required">¿Sin url?</div>
              </div>
            </md-input-container>
          </md-content>
        </md-tab>
        <md-tab label="Administradores del grupo">
          <md-content class="md-padding">
            <h1 class="md-display-2"><strong>Paso dos</strong></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.</p>
            <md-content class="md-padding autocomplete" layout="column" flex>
              <md-contact-chips
                ng-model="newGroupCtrl.groupAdmins"
                md-contacts="newGroupCtrl.querySearchForAdmins($query)"
                md-contact-name="name"
                md-contact-image="image"
                md-require-match="true"
                md-highlight-flags="i"
                filter-selected="newGroupCtrl.filterSelected"
                placeholder="Admins">
              </md-contact-chips>
              <md-list class="fixedRows">
                <md-subheader class="md-no-sticky">Administradores</md-subheader>
                <md-content>
                  <md-list-item class="md-2-line contact-item" ng-repeat="(index, admin) in newGroupCtrl.admins">
                    <img ng-src="{{admin.image}}" class="md-avatar" alt="{{admin.name}}" />
                    <div class="md-list-item-text compact">
                      <h3>{{admin.name}}</h3>
                      <p>{{admin.id}}</p>
                    </div>
                  </md-list-item>
                </md-content>
                <p>Seleccionados</p>
                <md-list-item class="md-2-line contact-item selected" ng-repeat="(id, admin) in newGroupCtrl.groupAdmins">
                  <img ng-src="{{admin.image}}" class="md-avatar" alt="{{admin.name}}" />
                  <div class="md-list-item-text compact">
                    <h3>{{admin.name}}</h3>
                    <p>{{admin.id}}</p>
                  </div>
                </md-list-item>
              </md-list>
            </md-content>
          </md-content>
        </md-tab>
        <md-tab label="Usuarios del grupo">
          <md-content class="md-padding">
            <h1 class="md-display-2"><strong>Paso tres</strong></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.</p>
            <md-content class="md-padding autocomplete" layout="column" flex>
              <md-contact-chips
                ng-model="newGroupCtrl.groupUsers"
                md-contacts="newGroupCtrl.querySearchForUsers($query)"
                md-contact-name="name"
                md-contact-image="image"
                md-require-match="true"
                md-highlight-flags="i"
                filter-selected="newGroupCtrl.filterSelected"
                placeholder="Usuarios">
              </md-contact-chips>
              <md-list class="fixedRows">
                <md-subheader class="md-no-sticky">Usuarios</md-subheader>
                <md-content>
                  <md-list-item class="md-2-line contact-item" ng-repeat="(index, user) in newGroupCtrl.users">
                    <img ng-src="{{user.image}}" class="md-avatar" alt="{{user.name}}" />
                    <div class="md-list-item-text compact">
                      <h3>{{user.name}}</h3>
                      <p>{{user.id}}</p>
                    </div>
                  </md-list-item>
                </md-content>
                <p>Seleccionados</p>
                <md-list-item class="md-2-line contact-item selected" ng-repeat="(id, user) in newGroupCtrl.groupUsers">
                  <img ng-src="{{user.image}}" class="md-avatar" alt="{{user.name}}" />
                  <div class="md-list-item-text compact">
                    <h3>{{user.name}}</h3>
                    <p>{{user.id}}</p>
                  </div>
                </md-list-item>
              </md-list>
            </md-content>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="newGroupCtrl.answer('not useful')">
        Cancelar
      </md-button>
      <md-button class="md-accent" ng-click="newGroupCtrl.answer('useful')">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
