<md-dialog aria-label="newNotification">
  <form name="userForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nuevo Usuario</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="newUserCtrl.cancel()" aria-label="closeButton">
          <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout>
      <div flex layout="column" layout-align="spaces-between stretch">
        <md-input-container flex>
          <label>Nombre:</label>
          <md-icon class="material-icons">account_box</md-icon>
          <input name="userName"  ng-model="newUserCtrl.name" type="text" required>
          <div ng-messages="userForm.userName.$error">
            <div ng-message="required">Necesitamos el nombre!</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container flex>
          <label>Celular:</label>
          <md-icon class="material-icons">phone</md-icon>
          <input name="userPhone"  ng-model="newUserCtrl.cellphone" type="text" required>
          <div ng-messages="userForm.userPhone.$error">
            <div ng-message="required">Necesitamos una forma de contacto!</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container flex>
          <label>Nombre del banco:</label>
          <md-icon class="material-icons">business</md-icon>
          <input name="userBankName"  ng-model="newUserCtrl.bankName" type="text" required>
          <div ng-messages="userForm.userBankName.$error">
            <div ng-message="required">¿Nombre del Banco?</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container flex>
          <label>Clabe del banco:</label>
          <md-icon class="material-icons">business</md-icon>
          <input name="userBankClabe"  ng-model="newUserCtrl.bankClabe" type="text" required>
          <div ng-messages="userForm.userBankClabe.$error">
            <div ng-message="required">¿Clabe Banco?</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container flex>
          <label>Forma de pago:</label>
          <md-icon class="material-icons">business</md-icon>
          <input name="userPaymentMethod"  ng-model="newUserCtrl.payment_method" type="text" required>
          <div ng-messages="userForm.userPaymentMethod.$error">
            <div ng-message="required">¿Forma de pago?</div>
          </div>
        </md-input-container>
      </div>
      <div flex layout="column" layout-align="spaces-between stretch">
        <md-input-container flex>
          <label>Cuenta del banco:</label>
          <md-icon class="material-icons">business</md-icon>
          <input name="userBankAccount"  ng-model="newUserCtrl.bankAccount" type="text" required>
          <div ng-messages="userForm.userBankAccount.$error">
            <div ng-message="required">¿Cuenta del banco?</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container flex>
          <label>Cedula:</label>
          <md-icon class="material-icons">create</md-icon>
          <input name="userCedula"  ng-model="newUserCtrl.cedula" type="text" required>
          <div ng-messages="userForm.userCedula.$error">
            <div ng-message="required">¿Cedula?</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container flex>
          <label>Correo:</label>
          <md-icon class="material-icons">create</md-icon>
          <input name="userEmail"  ng-model="newUserCtrl.email" type="email" required>
          <div ng-messages="userForm.userEmail.$error">
            <div ng-message="required">¿Sin Email?</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container flex>
          <label>User:</label>
          <md-icon class="material-icons">contacts</md-icon>
          <input name="userUser"  ng-model="newUserCtrl.user" type="text" required>
          <div ng-messages="userForm.userUser.$error">
            <div ng-message="required">¿usuario?</div>
          </div>
        </md-input-container>
        <br>
        <md-input-container flex>
          <label>Rol de usuario:</label>
          <md-select ng-model="newUserCtrl.selectedRole">
            <md-option ng-repeat="role in newUserCtrl.roles" ng-value="role.id">
              {{role.role}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="newUserCtrl.cancel()">
        Cancelar
      </md-button>
      <md-button ng-click="newUserCtrl.save()" ng-show="userForm.$valid">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
