<md-dialog aria-label="newNotification">
  <form name="notificationsForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nueva Notificación</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="newNotificationCtrl.cancel()" aria-label="closeButton">
          <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column">
      <div class="md-dialog-content">
        <h2 flex>Crea tus notificaciones...</h2>
        <p flex>
          The mango is a juicy stone fruit belonging to the genus Mangifera, consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit. The majority of these species are found in nature as wild mangoes. They all belong to the flowering plant family Anacardiaceae. The mango is native to South and Southeast Asia, from where it has been distributed worldwide to become one of the most cultivated fruits in the tropics.
        </p>
        <md-input-container flex>
          <label>Título de la notificación:</label>
          <md-icon class="material-icons">notifications</md-icon>
          <input name="notificationTitle"  ng-model="newNotificationCtrl.title" type="text" required>
          <div ng-messages="notificationsForm.notificationTitle.$error">
            <div ng-message="required">Necesitamos el titulo de la notificación!</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Contenido de la notificación:</label>
          <md-icon class="material-icons">create</md-icon>
          <input name="notificationContent"  ng-model="newNotificationCtrl.content" type="text" required>
          <div ng-messages="notificationsForm.notificationContent.$error">
            <div ng-message="required">Necesitamos el contenido de la notificación!</div>
          </div>
        </md-input-container>
        <div flex>
          <label>Imagen:</label>
          <input class="md-icon-button" id="notificationImage"  ng-model="newNotificationCtrl.imageName" type="file" required>
        </div>
        <md-input-container flex>
          <label>User:</label>
          <md-icon class="material-icons">account_box</md-icon>
          <input name="notificationForUser"  ng-model="newNotificationCtrl.for" type="text" required>
          <div ng-messages="notificationsForm.notificationForUser.$error">
            <div ng-message="required">Necesitamos el usuario al que se lo vas a mandar!</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="newNotificationCtrl.cancel()">
        Cancelar
      </md-button>
      <md-button ng-click="newNotificationCtrl.save()">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
