<md-dialog aria-label="newProperty">
  <form name="propertiesForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nueva Propiedad</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="newPropertyCtrl.cancel()" aria-label="closeButton">
          <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout>
      <div flex layout="column" layout-align="space-between">
        <md-input-container flex>
          <label>Nombre de la propiedad:</label>
          <md-icon class="material-icons">notifications</md-icon>
          <input name="propertyName"  ng-model="newPropertyCtrl.name" type="text" required>
          <div ng-messages="propertiesForm.propertyName.$error">
            <div ng-message="required">¿Nombre?</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Descripción:</label>
          <md-icon class="material-icons">create</md-icon>
          <input name="propertyDescription"  ng-model="newPropertyCtrl.description" type="text" required>
          <div ng-messages="propertiesForm.propertyDescription.$error">
            <div ng-message="required">¿Descripción?</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Area total:</label>
          <md-icon class="material-icons">notifications</md-icon>
          <input name="propertySurfaceTotal"  ng-model="newPropertyCtrl.surfaceTotal" type="text" required>
          <div ng-messages="propertiesForm.propertySurfaceTotal.$error">
            <div ng-message="required">¿Área total?</div>
          </div>
        </md-input-container>
      </div>
      <div flex layout="column" layout-align="space-between">
        <md-input-container flex>
          <label>Area interna:</label>
          <md-icon class="material-icons">create</md-icon>
          <input name="propertySurfaceIn"  ng-model="newPropertyCtrl.surfaceIn" type="text" required>
          <div ng-messages="propertiesForm.propertySurfaceIn.$error">
            <div ng-message="required">¿Area interna?</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Area externa:</label>
          <md-icon class="material-icons">account_box</md-icon>
          <input name="propertySurfaceOut"  ng-model="newPropertyCtrl.surfaceOut" type="text" required>
          <div ng-messages="propertiesForm.propertySurfaceOut.$error">
            <div ng-message="required">¿Area externa?</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Notas:</label>
          <md-icon class="material-icons">account_box</md-icon>
          <input name="propertyNotes"  ng-model="newPropertyCtrl.notes" type="text" required>
          <div ng-messages="propertiesForm.propertyNotes.$error">
            <div ng-message="required">¿Notas?</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Dueño</label>
          <md-content class="md-padding autocomplete" layout="column" flex>
            <md-contact-chips
              ng-model="newPropertyCtrl.selectedOwner"
              md-contacts="newPropertyCtrl.querySearchForOwners($query)"
              md-contact-name="user"
              md-require-match="true"
              md-highlight-flags="i"
              filter-selected="newPropertyCtrl.filterSelected"
              placeholder="Dueño">
            </md-contact-chips>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="newPropertyCtrl.cancel()">
        Cancelar
      </md-button>
      <md-button ng-click="newPropertyCtrl.save()">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
