<md-dialog aria-label="Sign alsdjkals">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Sign in!</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="dialog.cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column" style="max-width:800px;max-height:810px; ">
    <div flex>
      <form name="loginForm" layout="column">
        <md-input-container flex flex-order="0">
          <label>User:</label>
          <input name="userEmail" ng-model="dialog.user" required>
          <div ng-messages="loginForm.userName.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-input-container flex flex-order="1">
          <label>Your email:</label>
          <input name="userPwd" ng-model="dialog.userPwd" required>
          <div ng-messages="loginForm.userEmail.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>
        <md-button ng-hide="loginForm.$invalid" ng-click="dialog.makeRequest(dialog.user, dialog.userPwd)" class="md-accent md-raised" flex flex-order="3">
          Login!
        </md-button>
      </form>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button>
      ¿Forgot your password?
    </md-button>
    <md-button style="margin-right:20px;" >
      ¿New user?
    </md-button>
  </md-dialog-actions>
</md-dialog>
