<div layout="column">
  <md-toolbar flex class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Administra tus grupos</span>
    </div>
  </md-toolbar>
  <md-button class="md-accent md-raised" ng-click="branchesCtrl.newBranch($event)">
    <span><md-icon flex class="material-icons">add_circle</md-icon>  Crear una nueva rama</span>
  </md-button>
  <md-button ng-hide="branchesCtrl.selected.length === 0" class="md-warn md-raised" ng-click="branchesCtrl.deleteBranches()">
    <span><md-icon flex class="material-icons">delete</md-icon>  Borrar ramas</span>
  </md-button>
  <md-table-container flex>
    <table md-table md-row-select multiple ng-model="branchesCtrl.selected">
      <thead md-head md-order="branchesCtrl.query.order">
      <tr md-row>
        <th md-column md-order-by="id"><span>ID</span></th>
        <th md-column md-order-by="title"><span>Title</span></th>
        <th md-column md-order-by="url">URL</th>
        <th md-column md-order-by="propertyName">Nombre de la propiedad</th>
        <th md-column md-order-by="senderUsr">Usuario Emisor</th>
        <th md-column>Propiedad activa?</th>
        <th md-column md-order-by="receiverUser">Usuario O Grupo receptor</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="branch" md-select-id="branch.id" md-auto-select ng-repeat="branch in branchesCtrl.branches | orderBy: branchesCtrl.query.order | limitTo: branchesCtrl.query.limit: (branchesCtrl.query.page - 1) * branchesCtrl.query.limit">
        <td md-cell>{{branch.id}}</td>
        <td md-cell ng-click="branchesCtrl.modifyField($event, 1, branch)">{{branch.title}}</td>
        <td md-cell ng-click="branchesCtrl.modifyField($event, 2, branch)">{{branch.url}}</td>
        <td md-cell>{{branch.propertyName}}</td>
        <td md-cell>{{branch.senderUsr}}</td>
        <td md-cell ng-click="branchesCtrl.changeStatus($event, branch)"><md-switch aria-label="propertyStatus"></md-switch></td>
        <td md-cell>{{branch.receiverUser}}</td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination
    flex
    md-limit="branchesCtrl.query.limit"
    md-page="branchesCtrl.query.page"
    md-limit-options="[5, 10, 15]"
    md-total="{{branchesCtrl.branches.length}}"
    md-page-select
  >
  </md-table-pagination>
</div>
