<div layout="column">
  <md-toolbar flex class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Administra las propiedades</span>
    </div>
  </md-toolbar>
  <md-button class="md-accent md-raised" ng-click="propertiesCtrl.newProperty($event)">
    <span><md-icon flex class="material-icons">add_circle</md-icon>  Crear una nueva propiedad</span>
  </md-button>
  <md-button ng-hide="propertiesCtrl.selected.length === 0" class="md-warn md-raised" ng-click="propertiesCtrl.deleteProperties()">
    <span><md-icon flex class="material-icons">delete</md-icon>  Borrar</span>
  </md-button>
  <md-table-container flex>
    <table md-table md-row-select multiple ng-model="propertiesCtrl.selected">
      <thead md-head md-order="propertiesCtrl.query.order">
      <tr md-row>
        <th md-column md-order-by="id"><span>ID</span></th>
        <th md-column md-order-by="property_type"><span>Tipo de la propiedad</span></th>
        <th md-column md-order-by="name"><span>Nombre de la propiedad</span></th>
        <th md-column md-order-by="description">description</th>
        <th md-column md-order-by="surface_total">Area total</th>
        <th md-column md-order-by="surface_in">Area interna</th>
        <th md-column md-order-by="surface_out">Area externa</th>
        <th md-column md-order-by="notes">Notas</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="property" md-select-id="property.id" md-auto-select ng-repeat="property in propertiesCtrl.properties | orderBy: propertiesCtrl.query.order | limitTo: propertiesCtrl.query.limit: (propertiesCtrl.query.page - 1) * propertiesCtrl.query.limit">
        <td md-cell>{{property.id}}</td>
        <td md-cell>{{property.property_type}}</td>
        <td md-cell ng-click="propertiesCtrl.modifyField($event, 1, property)">{{property.name}}</td>
        <td md-cell ng-click="propertiesCtrl.modifyField($event, 2, property)">{{property.description}}</td>
        <td md-cell ng-click="propertiesCtrl.modifyField($event, 3, property)">{{property.surface_total}}</td>
        <td md-cell ng-click="propertiesCtrl.modifyField($event, 4, property)">{{property.surface_in}}</td>
        <td md-cell ng-click="propertiesCtrl.modifyField($event, 5, property)">{{property.surface_out}}</td>
        <td md-cell ng-click="propertiesCtrl.modifyField($event, 6, property)">{{property.notes}}</td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination
    flex
    md-limit="propertiesCtrl.query.limit"
    md-page="propertiesCtrl.query.page"
    md-limit-options="[5, 10, 15]"
    md-total="{{propertiesCtrl.properties.length}}"
    md-page-select
  >
  </md-table-pagination>
</div>
