<div>
  <div>
    <div class="text-center">
      <h2>About us</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero justo. Nunc molestie est ipsum, eget luctus nisl consectetur quis.</p>
      <p>Nulla at consectetur ligula, quis venenatis nisi. Suspendisse non ante vitae ipsum condimentum pellentesque. Sed posuere finibus justo </p>
      <p>vitae dapibus. Nulla facilisi. Sed lorem turpis, vehicula eu nibh nec, rhoncus egestas enim. Phasellus mollis, mi dictum fermentum faucibus, </p>
    </div>
  </div>

  <div>
    <img class="img-responsive" src="http://68.media.tumblr.com/7ce59e03bdeed1bdf14305389561e9b4/tumblr_o4z4n4xpr51rlapeio1_540.gif" alt="">
  </div>
</div>
<div class="">
  <div class="">
    <h1 class="text-center">Lorem Ipsum</h1>
    <hr>
    <div class="">
      <div class="">
        <h3><i class=""></i>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero justo. Nunc molestie est ipsum, eget luctus nisl consectetur quis.</p>
      </div>
      <div class="">
        <h3><i class=""></i> Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero justo. Nunc molestie est ipsum, eget luctus nisl consectetur quis.</p>
      </div>
      <div class="">
        <h3><i class="fa fa-building"></i> Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero justo. Nunc molestie est ipsum, eget luctus nisl consectetur quis.</p>
      </div>
      <div class="">
        <h3><i class=""></i> Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero justo. Nunc molestie est ipsum, eget luctus nisl consectetur quis.</p>
      </div>
    </div>
    <div class="text-center">
      <a href="" class="btn btn-default-color">Registrate!</a>
    </div>
  </div>
</div>
