<br>
<br>
<div layout>
  <img class="center" width="450" height="550" ng-src="../../images/chroma_logo.png" flex flex-offset="5">
  <form name="loginForm" layout="column" layout-align="space-around" flex flex-offset="5">
    <h2>Inicia Sesión!</h2>
    <md-input-container flex>
      <label>User:</label>
      <md-icon class="material-icons">account_box</md-icon>
      <input name="user" ng-model="loginCtrl.user" type="text" required>
      <div ng-messages="loginForm.user.$error">
        <div ng-message="required">Necesitamos tu usario!</div>
      </div>
    </md-input-container>
    <md-input-container flex>
      <label>Password:</label>
      <md-icon class="material-icons">lock</md-icon>
      <input name="userPwd" type="password" ng-model="loginCtrl.userPwd" required>
      <div ng-messages="loginForm.userEmail.$error">
        <div ng-message="required">¡También ocupamos tu contraseña!</div>
      </div>
    </md-input-container>
    <md-progress-circular flex ng-show="loginCtrl.sending" md-mode="indeterminate"></md-progress-circular>
    <md-button
      ng-hide="loginForm.$invalid || loginCtrl.sending"
      ng-click="loginCtrl.authenticateUser(loginCtrl.user, loginCtrl.userPwd)"
      class="md-accent md-raised"
    >
      <md-icon class="material-icons">lock_open</md-icon>
      Iniciar Sesión!
    </md-button>
    <md-button class="md-accent md-raised">
      <md-icon class="material-icons">phone</md-icon>
      Contactar a SOLVIT
    </md-button>
  </form>
</div>
<br>
<md-content class="footer" layout>
  <div flex flex-offset="5">
    <a href="https://www.facebook.com/ChromaSanPedro/" target="_blank">
      <img width="45" height="45" ng-src="../../images/facebook.png">
    </a>
    <a href="https://www.instagram.com/chromasanpedro" target="_blank">
      <img width="45" height="45" ng-src="../../images/instagram.png">
    </a>
  </div>
  <div flex>
    <span>Derechos Reservados Ache Desarrollos 2017.</span>
  </div>
</md-content>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
    r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
  }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>


