<br>
<br>
<div layout>
  <img class="center" width="450" height="550" ng-src="../../images/chroma_logo.png" flex flex-offset="5">
  <form name="loginForm" layout="column" layout-align="space-around" flex flex-offset="5">
    <h2>Inicia Sesión!</h2>
    <md-input-container flex>
      <label>User:</label>
      <md-icon class="material-icons">account_box</md-icon>
      <input name="user" ng-model="loginCtrl.user" type="text" required>
      <div ng-messages="loginForm.user.$error">
        <div ng-message="required">Necesitamos tu usario!</div>
      </div>
    </md-input-container>
    <md-input-container flex>
      <label>Password:</label>
      <md-icon class="material-icons">lock</md-icon>
      <input name="userPwd" type="password" ng-model="loginCtrl.userPwd" required>
      <div ng-messages="loginForm.userEmail.$error">
        <div ng-message="required">¡También ocupamos tu contraseña!</div>
      </div>
    </md-input-container>
    <md-progress-circular flex ng-show="loginCtrl.sending" md-mode="indeterminate"></md-progress-circular>
    <md-button
      ng-hide="loginForm.$invalid || loginCtrl.sending"
      ng-click="loginCtrl.authenticateUser(loginCtrl.user, loginCtrl.userPwd)"
      class="md-accent md-raised"
    >
      <md-icon class="material-icons">lock_open</md-icon>
      Iniciar Sesión!
    </md-button>
    <md-button class="md-accent md-raised">
      <md-icon class="material-icons">phone</md-icon>
      Contactar a SOLVIT
    </md-button>
  </form>
</div>
<br>
<footer></footer>


