<div layout="column" layout-align="center center">
  <jk-carousel
    data="mainCtrl.carouselData"
    item-template-url="item-template.html"
    max-width="800"
    max-height="500"
    auto-slide="true"
    auto-slide-time="2000" flex>
  </jk-carousel>
  <div flex>
    <div class="text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id libero justo. Nunc molestie est ipsum, eget luctus nisl consectetur quis.</p>
      <p>Nulla at consectetur ligula, quis venenatis nisi. Suspendisse non ante vitae ipsum condimentum pellentesque. Sed posuere finibus justo </p>
      <p>vitae dapibus. Nulla facilisi. Sed lorem turpis, vehicula eu nibh nec, rhoncus egestas enim. Phasellus mollis, mi dictum fermentum faucibus, </p>
    </div>
  </div>
</div>
