<div layout="column">
  <md-toolbar flex class="md-table-toolbar md-default clearContainer">
    <div class="md-toolbar-tools" ng-show="billsCtrl.isAdmin()">
      <span>Facturas por &nbsp</span>
      <span ng-hide="billsCtrl.getFilesToBePayed"> Pagar</span>
      <span ng-show="billsCtrl.getFilesToBePayed"> Cobrar</span>
      &nbsp
      <md-switch ng-model="billsCtrl.getFilesToBePayed" ng-change="billsCtrl.changeUserFiles()" ng-disabled="billsCtrl.waiting"></md-switch>
    </div>
  </md-toolbar>
  <md-button class="md-accent md-raised" ng-click="billsCtrl.newFile()" ng-show="billsCtrl.isSender">
    <span><md-icon flex class="material-icons">file_upload</md-icon>  Subir un nuevo archivo</span>
  </md-button>
  <md-button class="md-accent md-raised" ng-click="billsCtrl.download()">
    <span><md-icon flex class="material-icons">file_download</md-icon>  Descargar los archivos seleccionados</span>
  </md-button>
  <md-button class="md-warn md-raised" ng-click="billsCtrl.delete()" ng-show="billsCtrl.isSender"> <!-- ng-show="billsCtrl.isSender" -->
    <span><md-icon flex class="material-icons">delete</md-icon>  Borrar Archivos</span>
  </md-button>
  <md-table-container flex>
    <table md-table md-row-select multiple ng-model="billsCtrl.selected">
      <thead md-head md-order="billsCtrl.query.order">
      <tr md-row>
        <th md-column md-order-by="file_name"><span>Nombre del archivo</span></th>
        <th md-column md-order-by="senderUser"><span>Usuario emisor</span></th>
        <th md-column md-order-by="receiverUser">Usuario receptor</th>
        <th md-column md-order-by="created_at">Fecha del Archivo</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="file" md-select-id="file.id" md-auto-select ng-repeat="file in billsCtrl.files | orderBy: billsCtrl.query.order | limitTo: billsCtrl.query.limit: (billsCtrl.query.page - 1) * billsCtrl.query.limit">
        <td md-cell>{{file.file_name}}</td>
        <td md-cell>{{file.senderUser}}</td>
        <td md-cell>{{file.receiverUser}}</td>
        <td md-cell>{{file.created_at}}</td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination
    flex
    md-limit="billsCtrl.query.limit"
    md-page="billsCtrl.query.page"
    md-limit-options="[2, 4, 6]"
    md-total="{{billsCtrl.files.length}}"
    md-page-select
  >
  </md-table-pagination>
</div>
