<div layout="column">
  <md-toolbar flex class="md-table-toolbar md-default clearContainer">
    <div class="md-toolbar-tools">
      <span>Reportes</span>
    </div>
  </md-toolbar>
  <md-button class="md-accent md-raised" ng-click="reportsCtrl.newFile()" ng-show="reportsCtrl.isSender">
    <span><md-icon flex class="material-icons">file_upload</md-icon>  Subir un nuevo archivo</span>
  </md-button>
  <md-button class="md-accent md-raised" ng-click="reportsCtrl.download()">
    <span><md-icon flex class="material-icons">file_download</md-icon>  Descargar los archivos seleccionados</span>
  </md-button>
  <md-button class="md-warn md-raised" ng-click="reportsCtrl.delete()" ng-show="reportsCtrl.isSender">
    <span><md-icon flex class="material-icons">delete</md-icon>  Borrar Archivos</span>
  </md-button>
  <md-table-container flex>
    <table md-table md-row-select multiple ng-model="reportsCtrl.selected">
      <thead md-head md-order="reportsCtrl.query.order">
      <tr md-row>
        <th md-column md-order-by="file_name"><span>Nombre del archivo</span></th>
        <th md-column md-order-by="senderUser"><span>Usuario emisor</span></th>
        <th md-column md-order-by="receiverUser">Usuario receptor</th>
        <th md-column md-order-by="fileDate">Fecha del Archivo</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="report" md-select-id="report.id" md-auto-select ng-repeat="report in reportsCtrl.files | orderBy: reportsCtrl.query.order | limitTo: reportsCtrl.query.limit: (reportsCtrl.query.page - 1) * reportsCtrl.query.limit">
        <td md-cell>{{report.file_name}}</td>
        <td md-cell>{{report.senderUser}}</td>
        <td md-cell>{{report.receiverUser}}</td>
        <td md-cell>{{report.created_at}}</td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination
    flex
    md-limit="reportsCtrl.query.limit"
    md-page="reportsCtrl.query.page"
    md-limit-options="[2, 4, 6]"
    md-total="{{reportsCtrl.files.length}}"
    md-page-select
  >
  </md-table-pagination>
</div>
