<div layout="column">
  <md-toolbar flex class="md-table-toolbar md-default clearContainer">
    <div class="md-toolbar-tools">
      <span>Comprobantes</span>
    </div>
  </md-toolbar>
  <md-button class="md-accent md-raised" ng-click="vouchersCtrl.newFile()" ng-show="vouchersCtrl.isSender">
    <span><md-icon flex class="material-icons">add_circle</md-icon>  Subir un nuevo archivo</span>
  </md-button>
  <md-button class="md-accent md-raised">
    <span><md-icon flex class="material-icons">add_circle</md-icon>  Descargar los archivos seleccionados</span>
  </md-button>
  <md-button class="md-warn md-raised" ng-show="vouchersCtrl.isSender">
    <span><md-icon flex class="material-icons">delete</md-icon>  Borrar Archivos</span>
  </md-button>
  <md-table-container flex>
    <table md-table md-row-select multiple ng-model="vouchersCtrl.selected">
      <thead md-head md-order="vouchersCtrl.query.order">
      <tr md-row>
        <th md-column md-order-by="id">ID</th>
        <th md-column md-order-by="fileName">Nombre del Archivo</th>
        <th md-column md-order-by="fileDate">Fecha del archivo</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="document" md-select-id="document.id" md-auto-select ng-repeat="document in vouchersCtrl.documents | orderBy: vouchersCtrl.query.order | limitTo: vouchersCtrl.query.limit: (vouchersCtrl.query.page - 1) * vouchersCtrl.query.limit">
        <td md-cell>{{document.id}}</td>
        <td md-cell>{{document.fileName}}</td>
        <td md-cell>{{document.fileDate}}</td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination
    flex
    md-limit="reportsCtrl.query.limit"
    md-page="reportsCtrl.query.page"
    md-limit-options="[5, 10, 15]"
    md-total="{{reportsCtrl.reports.length}}"
    md-page-select
  >
  </md-table-pagination>
</div>
